# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
.pytest_cache/
.ipynb_checkpoints/

# Env
.env

# Data (don't commit raw data)
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs
outputs/maps/*.html
!outputs/maps/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/